body
{
    margin: 0px;
    padding: 0px;
}

.backdrop
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background-image: url(backup.jpg);
    background-size: 100% 100%;
}

.videoContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
iframe {
    width: 100%;
    height: 100%; 
}

p {
    font-family: "Century Gothic", CenturyGothic, AppleGothic;
    src: url('centurygothic.ttf') format('truetype');
    font-size: 63px;
}


@font-face {
    font-family: "Century Gothic", CenturyGothic, AppleGothic;
    src: url('centurygothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
  position: relative;
  background: transparent;
  z-index: 0;
}
/* add a single stroke */
h1:before, h2:before {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.1em #000;
  left: 0;
  z-index: -1;
}


.letni
{
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 10%;

    z-index: 5;

    color: #fff;

    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    src: url('centurygothic.ttf') format('truetype');
}

.letni p
{
    font-size: 50px;

    margin-left: 0px;

    margin-top: 0px;
}

.letni h2, .letni h3
{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

    text-transform: uppercase;

    font-size: 50px;

    margin: 0px;

    display: inline-block;
}

.top
{
    color: #fff;

    position: absolute;
    top: 7%;
    left: 5%;
    right: 5%;
}

.top h1
{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 60px;

    margin: 0px;
}

.top h2
{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 40px;

    margin: 0px;

    color: rgb(255, 255, 255);
}

.thingy
{
    width: 10%;
    background-color: #eee;
    height: 20px;

    position: absolute;
    left: 10%;
}

#bottom_nav {

    width: 90%;

    vertical-align: text-bottom;

    position: fixed;

    bottom:0px;

    text-align: center;

    z-index:9999;

}



/* Loading Dots - made by superdupersumus @ https://codepen.io/xwildeyes/pen/KpqVzN */

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.saving span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}
