endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
#30120

start mapmanager
start chat
start spawnmanager
start sessionmanager
restart sessionmanager
start fivem
start hardcap
start rconlog
start baseevents

start mysql-async
set mysql_connection_string "server=127.0.0.1;database=essentialmode;userid=root;password="

# Disable Couchdb from essentialmode
set es_enableCustomData 1

# ES Base
start essentialmode
start esplugin_mysql
start es_admin2

add_ace resource.essentialmode command.add_ace allow
add_ace resource.essentialmode command.add_principal allow

# ES Extended
start es_extended
start esx_menu_default
start esx_menu_list
start esx_menu_dialog

# Liste des joueurs
start scoreboard

# Server
start esx_rpchat
start gcphone
start esx_addons_gcphone
start vdk_call
start esx_addonaccount
start esx_addoninventory
start esx_billing
start esx_datastore
start esx_society
start esx_license
start esx_organisation
start bob74_ipl
start knockout
start modelblacklist
start lux_vehcontrol
start es_mapper
start esx_narshop
start boombox
#start Robbery-System-Fivem
start Car_Doors
start esx_jb_realtimejailer
start esx_gym

# Skin
start skinchanger
start esx_skin
start esx_eden_clotheshop
start esx_barbershop
start esx_tattoosShops
start esx_accessories

# Besoin
start esx_shops
start esx_basicneeds
start esx_optionalneeds
start esx_status
start instance
start esx_basejump
start loadingscreen
#start esx_others2
start esx_celldoors
start es_camera
start teleport
start esx_spectate
start afkkick
start esx_blanchisseur
start CopsRP-PauseMap
start radio
start FiveM-KillYourself
start esx_ladderhud

# Magasin
start esx_weashops
start esx_vehicleshop
start esx_property
start esx_realestateagentjob
start esx_bahamajob
start esx_cagoule
start esx_aircraftshop
start esx_boatshop
start esx_animals

# Metier
start esx_joblisting
start esx_jobs
start esx_mecanojob
start esx_ambulancejob
start esx_policejob
start esx_unicornjob
start esx_vigneronjob
start esx_taxijob
start esx_tabacjob
start esx_chasse
start esx_avocatjob
start esx_mafia
start esx_gangjob
start esx_carteljob
start esx_pizza
start esx_bikerjob
start esx_securiterjob
#start esx_armyjob
start esx_vangelico_robbery

# Voiture
start esx_eden_garage
#start frfuel
#start esx_advancedfuel
start esx_legacyfuel
start es_carwash
start esx_dmvschool
#start speedo
#start speedometer
start esx_vehiclelock
#start esx_vehicle_inventory
start esx_jb_advanced_truck_inventory
start SeatbeltIndicator
#start RealisticVehicleFailure
#start esx_lscustom
#start esx_eden_aircraftgarage
#start esx_eden_boatgarage
start a45    
start amg
start aeroxr
start mk3
start rmodm4gts
start r8prior
start spitro
start pack1
start kart3
start kart_20
start rs7
start president
start cadone
start marine
start pol718
start lp770
start f488
start stanier
start c63
start 750li
start 911turbos
start bm
start bmwm3e92
start kx450f
start nh2r
start evo10
start r6
start yzf250sm
start mgt
start spirit
start rs3
start mlbrabus
start w124
start p1police
start s2000
start 16challenger
start Valkyrie
start gtr35
start macanprior
start ssti
start brz
start 450crf
start fmx
start zx10r
start nelly
start dodgert70
start taxi
start Yamaha_r6
start yzf
start yzfsm
start titan
start BMWS
start mix
start CBTWISTER
start amgpolice
start location
start esx_location
#start police523
start Captain14_LSPD
start Captain14_FBI
start Captain14_Sheriff
start fire_ambulance
start fire_ambulance2
start fire_battalion
start fire_brush
start fire_engine
start fire_ladder
start fire_response
start yamahabike
start i8custom

# Map
start nw_bahamaMama
start bunker
start mcdonald

#Fete
#start halloween
#start WeatherSnow

# Personnage
start esx_animations
#start esx_phone
start esx_identity
start esx_drugs
start new_banking
start esx_holdup
start esx_voice
start nb_menuperso

start archer

sv_scriptHookAllowed 0

# change this
rcon_password 3bbcynt7d3

sv_hostname "dawnstar"

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file) - MicroSerum's logo by default
load_server_icon logo.png

# convars for use from script
set temp_convar "hey world!"

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
#sv_authMaxVariance 1
#sv_authMinTrust 5

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000112345678 group.admin # add the admin to the group

# remove the # to hide player endpoints in external log output
#sv_endpointprivacy true

# server slots limit (must be between 1 and 31)
sv_maxclients 32

# license key for server (https://keymaster.fivem.net)
sv_licenseKey r054r9hxdfdgtgezgc4bqdsjitxrm1gy
