@font-face {
  font-family: bankgothic;
  src: url('../fonts/bankgothic.ttf');
}

@font-face {
  font-family: pcdown;
  src: url('../fonts/pdown.ttf');
}

#controls {
  font-family: pcdown;
  font-size     : 3em;
  position      : absolute;
  bottom        : 40;
  right         : 40;
  
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000
  ;
}

.controls {
  display: none;
}

.dialog { 
  border-color: black;
  border-style: solid;
  border-radius: 20px;
  font-family: bankgothic;  
  box-shadow      : 0px 0px 50px 0px #000;
  position        : absolute;
  overflow        : hidden;
  top             : 50%;
  left            : 50%;
  width           : 360px;
  height          : 175px;
  transform       : translate(-50%, -50%);
}

.dialog.big {
  height: 200px;
}

.dialog .head {
  font-size: 0%;  
  background:url('http://image.noelshack.com/fichiers/2018/51/7/1545568737-snakebleutriangle.png');
  text-align      : center;
  background-size: cover ;
  background-repeat: no-repeat;
  height          : 85px;
}

.dialog .head span:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.dialog .text {
  text-align      : center;  
  font-family: bankgothic;
  font-size: 100%;
  display         : block;
  background-color: #f1f1f1;
  box-shadow      : inset 1px 0px 0px 1px #b8b8b8;
  height          : 25px;
  line-height     : 25px;
  opacity: 0.7;  
}

.dialog input[type="text"] {
  width : 100%;
  height: 32px;
  opacity: 0.7;  
}

.dialog textarea {
  width : 100%;
  height: 128px;
  opacity: 0.7;  
}

.dialog button[name="submit"] {
  width : 65%;
  height: 32px;
  opacity: 0.7;  
}

.dialog button[name="cancel"] {
  width : 35%;
  height: 32px;
  opacity: 0.7;  
}