.console {
  background-color: rgba(255,86,60,0.3);
  width: 500px;
  min-height: 30px;
  color: white;
  position: absolute;
  top: 5px;
  left: 200px;
}
html {
  overflow: hidden;
}
@font-face {
  font-family: 'pricedown';
  src: url(pricedown.ttf);
}
#cursor {
    position: absolute;
    z-index: 999999;
    display: none;
}
.sans {
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1px;
  right: 1600;
  width: 300px;
  height: 200px;
}
#icon {
  height: 21px;
  width: auto;
  margin-right: 10px;
}


#job {
  float:right;
  font-family: pricedown;
  font-weight: 400;
  font-size: 2rem;
  color: white;
  padding: 4px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin: 0;
  margin-right: 6px;
  padding: 0;
}

.job {
  display: inline-block;
  height: 30px;
  width: 100%;
}